<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" class="no-js">
<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/static/img/favicon.png">
  <!-- Author Meta -->
  <meta name="author" content="codepixer">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>블라인드 카페</title>

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400,400i,500" rel="stylesheet">
  <!--
          CSS
          ============================================= -->
  <link rel="stylesheet" href="/static/css/linearicons.css">
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/magnific-popup.css">
  <link rel="stylesheet" href="/static/css/nice-select.css">
  <link rel="stylesheet" href="/static/css/hexagons.min.css">
  <link rel="stylesheet" href="/static/css/owl.carousel.css">
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
<!-- start header Area -->
<header id="header">
  <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="/"><img src="/static/img/logo.png" alt="" title="" /></a>
      </div>
    </div>
  </div>
</header>
<!-- end header Area -->

<!-- start banner Area -->
<section class="home-banner-area">
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-between">
      <div class="home-banner-content col-lg-6 col-md-6">
        <small>
          어둠 속 카페에서 설렘의 대화를
        </small>
        <h1>
          Blind Cafe
        </h1>
        <p>어둠속의 카페 가보셨나요?<br>
          블라인드 카페에서 3일간의 대화만으로 설렘을 느끼고<br>
          마음에 드는 상대에게만 프로필을 공개하세요.</p>
        <div class="download-button d-flex flex-row justify-content-start">
          <div class="buttons dark flex-row d-flex">
            <i class="fa fa-android" aria-hidden="true"></i>
            <div class="desc">
              <a href="https://play.google.com/store/apps/details?id=com.abouttime.blindcafe" target="_blank">
                <p>
                  <span>Available</span> <br>
                  on Play Store
                </p>
              </a>
            </div>
          </div>
          <div class="buttons flex-row d-flex">
            <i class="fa fa-apple" aria-hidden="true"></i>
            <div class="desc">
              <a href="https://apps.apple.com/kr/app/%EB%B8%94%EB%9D%BC%EC%9D%B8%EB%93%9C-%EC%B9%B4%ED%8E%98/id1597964553" target="_blank">
                <p>
                  <span>Available</span> <br>
                  on App Store
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-img col-lg-4 col-md-6">
        <img class="img-fluid" src="/static/img/banner-img.png" alt="">
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start about Area -->
<!-- <section class="about-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 home-about-left">
                <img class="img-fluid" src="/static/img/func1.png" alt="">
            </div>
            <div class="offset-lg-1 col-lg-5 home-about-right">
                <h1>
                    관심사 기반 매칭
                </h1>
                <p>
                    자신과 비슷한 관심사를 가진 사람을 만날 수 있어요
                </p>
            </div>
            <div class="col-lg-6 home-about-right home-about-right2">
                <h1>
                    3일간의 대화
                </h1>
                <p>
                    3일간의 대화를 통해 상대를 알아가세요
                </p>
            </div>
            <div class="col-lg-5 home-about-left">
                <img class="img-fluid" src="/static/img/func2.png" alt="">
            </div>
            <div class="col-lg-5 home-about-left">
                <img class="img-fluid" src="/static/img/func4.png" alt="">
            </div>
            <div class="offset-lg-1 col-lg-5 home-about-right">
                <h1>
                    대화는 자연스럽게
                </h1>
                <p>
                    궁금증을 일으키는 대화 질문들로 서로를 알아가세요
                </p>
            </div>
        </div>
    </div>
</section> -->
<!-- End about Area -->

<section class="about-video-area section-gap">
  <div class="vdo-bg">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <img width="40%" src="/static/img/qr.png"/>
      </div>
    </div>
  </div>
</section>

<!-- Start Screenshot Area -->
<section class="screenshot-area section-gap-top">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center">
          <!-- <h2>스크린샷</h2> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="owl-carousel owl-screenshot">
        <div class="single-screenshot">
          <img class="img-fluid" src="/static/img/screenshots/s1.png" alt="">
        </div>
        <div class="single-screenshot">
          <img class="img-fluid" src="/static/img/screenshots/s2.png" alt="">
        </div>
        <div class="single-screenshot">
          <img class="img-fluid" src="/static/img/screenshots/s3.png" alt="">
        </div>
        <div class="single-screenshot">
          <img class="img-fluid" src="/static/img/screenshots/s4.png" alt="">
        </div>
        <div class="single-screenshot">
          <img class="img-fluid" src="/static/img/screenshots/s5.png" alt="">
        </div>
        <div class="single-screenshot">
          <img class="img-fluid" src="/static/img/screenshots/s6.png" alt="">
        </div>
        <div class="single-screenshot">
          <img class="img-fluid" src="/static/img/screenshots/s7.png" alt="">
        </div>
        <div class="single-screenshot">
          <img class="img-fluid" src="/static/img/screenshots/s8.png" alt="">
        </div>
        <div class="single-screenshot">
          <img class="img-fluid" src="/static/img/screenshots/s9.png" alt="">
        </div>
        <div class="single-screenshot">
          <img class="img-fluid" src="/static/img/screenshots/s10.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Screenshot Area -->

<!-- Start Pricing Area -->
<section class="pricing-area">
  <div class="container">

  </div>
</section>
<!-- End Pricing Area -->

<!-- Start about-video Area -->
<section class="about-video-area section-gap">
  <div class="vdo-bg">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-12 about-video-right justify-content-center align-items-center d-flex relative">
          <div class="overlay overlay-bg"></div>
          <a class="play-btn" href="https://www.youtube.com/watch?v=dHEsaHcOQvM"><img class="img-fluid mx-auto" src="/static/img/play-btn.png"
                                                                                      alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End about-video Area -->

<section class="screenshot-area section-gap-top"></section>


<!-- Start Footer Area -->
<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-6 single-footer-widget">
        <h4>Info</h4>
        <ul>
          <li><a href="/policy/privacy">개인정보 처리방침</a></li>
          <li><a href="/policy/usage">이용약관</a></li>
          <li><a href="https://forms.gle/xauD98orCpP5U5Ux6" target="_blank">문의하기</a></li>
        </ul>
      </div>

    </div>
    <div class="footer-bottom row align-items-center">
      <p class="footer-text m-0 col-lg-6 col-md-12">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> 어바웃타임 All rights reserved
        <br>
        Contact : blindcafeapp@gmail.com
      </p>
      <div class="col-lg-6 col-md-6 social-link">
        <div class="download-button d-flex flex-row justify-content-end">
          <div class="buttons gray flex-row d-flex">
            <i class="fa fa-android" aria-hidden="true"></i>
            <div class="desc">
              <a href="https://play.google.com/store/apps/details?id=com.abouttime.blindcafe" target="_blank">
                <p>
                  <span>Available</span> <br>
                  on Play Store
                </p>
              </a>
            </div>
          </div>
          <div class="buttons gray flex-row d-flex">
            <i class="fa fa-apple" aria-hidden="true"></i>
            <div class="desc">
              <a href="https://apps.apple.com/kr/app/%EB%B8%94%EB%9D%BC%EC%9D%B8%EB%93%9C-%EC%B9%B4%ED%8E%98/id1597964553" target="_blank">
                <p>
                  <span>Available</span> <br>
                  on App Store
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Area -->

<script src="/static/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="/static/js/tilt.jquery.min.js"></script>
<script src="/static/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="/static/js/easing.min.js"></script>
<script src="/static/js/hoverIntent.js"></script>
<script src="/static/js/superfish.min.js"></script>
<script src="/static/js/jquery.ajaxchimp.min.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/owl-carousel-thumb.min.js"></script>
<script src="/static/js/hexagons.min.js"></script>
<script src="/static/js/jquery.nice-select.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<script src="/static/js/mail-script.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>