<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>블라인드 카페 | 개인정보 처리방침</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400,400i,500" rel="stylesheet">
    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="/static/css/linearicons.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/nice-select.css">
    <link rel="stylesheet" href="/static/css/hexagons.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
<!-- start header Area -->
<header id="header">
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/"><img src="/static/img/logo.png" alt="" title="" /></a>
            </div>
        </div>
    </div>
</header>
<!-- end header Area -->

<!-- start banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row banner-content">
            <div class="col-lg-12 d-flex align-items-center justify-content-between">
                <div class="left-part">
                    <h1>
                        개인정보 처리방침
                    </h1>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start contact-page Area -->
<section class="contact-page-area section-gap">
    <div class="container">
        <div class="row">
            <h1>개인정보 처리방침</h1>
            <p>
                <br>
                블라인드카페(이하 ‘서비스’)는 정보통신망 이용촉진 및 정보보호 등에 관한 법률(이하 ‘정보통신망법’)에 따라 이용자의 개인정보 보호와 권익을 보호하기 위하여 다음과 같이 개인정보 처리방침을 제정 및 운영하고 있습니다.
                <br><br>
            </p>

            <h2>
                <br>
                <br>
                개인정보 처리 목적
            </h2>
            <p>
                <br>
                원활한 서비스와 서비스 품질향상을 위한 데이터분석 및 통계를 위해 고객의 개인정보를 수집 또는 이용합니다. 수집된 개인 정보는 고객의 동의없이 제3자에게 절대로 제공되지 않으며 위에서 언급한 내용 외에는 사용되지 않습니다.
                <br><br>
            </p>
            <h2>
                <br>
                수집하는 개인정보 항목
            </h2>
            <p>
                <br>
                보다 나은 서비스를 제공하기 위해 수집하는 고객의 개인정보는 다음과 같습니다.
                회원가입시 또는 서비스를 이용하는 과정에서 이용자의 닉네임, 나이, 성별, 사진, 위치 정보, 음성 등이 수집됩니다. 서비스 이용과정이나 사업처리 과정에서 단말기 정보(모델명, OS버전, 화면크기, 기기고유식별번호), IP 정보, 쿠키 정보가 자동으로 생성되어 수집됩니다. 위 개인정보는 이용자가 회원가입을 하거나 서비스를 이용하는 과정에서 직접 제공하여 수집되며 회사는 이용자의 동의를 받습니다.
                <br><br>
            </p>
            <h2>
                <br>
                개인정보 보유 및 이용기간, 파기
            </h2>
            <p>
                <br>
                이용자가 서비스를 가입해 서비스를 탈퇴하기 전까지 서비스를 이용하는 동안 개인정보를 보유 및 이용합니다. 개인 정보의 수집 및 동의를 철회할 경우 또는 수집 및 이용목적이 달성되거나 보유 및 이용 기간이 종료된 경우 개인 정보는 파기됩니다. 이 경우 개인 정보는 어떠한 용도로도 열람 또는 이용할 수 없도록 처리됩니다.
                <br><br>
            </p>
            <h2>
                <br>
                개인정보 제3자 제공 및 위탁
            </h2>
            <p>
                <br>
                이용자가 서비스 이용과정 등에서 따로 동의하는 경우나 법령에 규정된 경우를 제외하고는 고객의 개인정보를 명시한 목적 범위를 초과하여 이용하거나 제3자에게 제공 또는 공유하지 않습니다. 하지만 서비스 향상, 법령이나 이용약관에 반하여 다른 이용자에게 피해를 줄 수 있는 잘못된 이용행위의 차단, 방지할 수 있습니다.
                <br><br>
            </p>
            <h2>
                <br>
                이용자의 권리
            </h2>
            <p>
                <br>
                이용자는 언제든지 마이페이지 메뉴에 진입하여 계정을 삭제할 수 있습니다. 혹은 서비스 내에서 해당 조치가 원할하지 않을 경우 회사로 요청하시면 신속히 처리하겠습니다.
                <br><br>
            </p>
            <h2>
                <br>
                개인정보 보호책임자
            </h2>
            <p>
                <br>
                회사는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련된 이용자의 불만처리를 위하여 아래와 같은 개인정보 보호책임자를 지정하고 있습니다.
                <br>
                <br>
                - 개인정보 보호책임자 : 이혜지
                <br>
                - 연락처: blindcafeapp@gmail.com
                <br><br>
            </p>
            <h2>
                <br>
                개인정보 처리방침 변경
            </h2>
            <p>
                <br>
                개인정보처리방침은 시행일부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일전부터 공지사항을 통하여 고지할 것입니다. 이용자는 해당 일 이후에도 서비스를 계속 이용함으로써 변경된 방침에 동의하는 것으로 간주됩니다.
                <br><br>
            </p>
        </div>
    </div>
</section>
<!-- End contact-page Area -->

<!-- Start Footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Info</h4>
                <ul>
                    <li><a href="/policy/privacy">개인정보 처리방침</a></li>
                    <li><a href="/policy/usage">이용약관</a></li>
                    <li><a href="https://forms.gle/xauD98orCpP5U5Ux6" target="_blank">문의하기</a></li>
                </ul>
            </div>

        </div>
        <div class="footer-bottom row align-items-center">
            <p class="footer-text m-0 col-lg-6 col-md-12">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> 어바웃타임 All rights reserved
                <br>
                Contact : blindcafeapp@gmail.com
            </p>
            <div class="col-lg-6 col-md-6 social-link">
                <div class="download-button d-flex flex-row justify-content-end">
                    <div class="buttons gray flex-row d-flex">
                        <i class="fa fa-android" aria-hidden="true"></i>
                        <div class="desc">
                            <a href="https://play.google.com/store/apps/details?id=com.abouttime.blindcafe" target="_blank">
                                <p>
                                    <span>Available</span> <br>
                                    on Play Store
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="buttons gray flex-row d-flex">
                        <i class="fa fa-apple" aria-hidden="true"></i>
                        <div class="desc">
                            <a href="https://apps.apple.com/kr/app/%EB%B8%94%EB%9D%BC%EC%9D%B8%EB%93%9C-%EC%B9%B4%ED%8E%98/id1597964553" target="_blank">
                                <p>
                                    <span>Available</span> <br>
                                    on App Store
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<script src="/static/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="/static/js/tilt.jquery.min.js"></script>
<script src="/static/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="/static/js/easing.min.js"></script>
<script src="/static/js/hoverIntent.js"></script>
<script src="/static/js/superfish.min.js"></script>
<script src="/static/js/jquery.ajaxchimp.min.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/owl-carousel-thumb.min.js"></script>
<script src="/static/js/hexagons.min.js"></script>
<script src="/static/js/jquery.nice-select.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<script src="/static/js/mail-script.js"></script>
<script src="/static/js/main.js"></script>
</body>

</html>