<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/static/img/common/favicon.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>블라인드 카페 | 이용약관</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400,400i,500" rel="stylesheet">
    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="/static/css/common/linearicons.css">
    <link rel="stylesheet" href="/static/css/common/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/common/bootstrap.css">
    <link rel="stylesheet" href="/static/css/common/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/common/nice-select.css">
    <link rel="stylesheet" href="/static/css/common/hexagons.min.css">
    <link rel="stylesheet" href="/static/css/common/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/common/main.css">
</head>

<body>
<!-- start header Area -->
<header id="header">
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/"><img src="/static/img/common/logo.png" alt="" title="" /></a>
            </div>
        </div>
    </div>
</header>
<!-- end header Area -->

<!-- start banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row banner-content">
            <div class="col-lg-12 d-flex align-items-center justify-content-between">
                <div class="left-part">
                    <h1>
                        이용약관
                    </h1>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start contact-page Area -->
<section class="contact-page-area section-gap">
    <div class="container">
        <div class="row">
            <h2>목적</h2>
            <p>
                <br>
                본 약관은 어바웃타임(이하 “제작자”)에서 제공하는 소셜 매칭 어플리케이션인 블라인드카페(이하 “서비스”)의 이용과 관련하여 제작자와 이를 이용하는 이용자(이하 “회원”)과의 서비스 이용에 관한 권리 및 의무와 책임사항, 기타 필요한 사항을 규정하는 것을 목적으로 합니다.
                <br><br>
            </p>

            <h2>
                <br>
                용어 정의
            </h2>
            <p>
                <br>
                1. ‘서비스’란 접속 가능한 유, 무선 단말기의 종류와는 상관없이 당사가 제공하는 ‘블라인드카페’ 및‘블라인드카페’와 관련된 모든 서비스를 의미합니다.
                <br>
                2. ‘회원’이란 제작자가 제공하는 서비스에 접속하여 본 약관에 따라 제작자의 이용절차를 동의하고 제작자가 제공하는 서비스를 이용하는 이용자를 말합니다.
                <br><br>
            </p>
            <h2>
                <br>
                약관 동의
            </h2>
            <p>
                <br>
                회원은 본 약관의 규정에 따라 본 서비스를 이용해야 합니다. 회원이 미성년자일 경우에는 본 서비스를 이용할 수 없습니다. 본 약관은 서비스이용을 원하는 자가 본 약관에 동의하면서 회원으로 가입함으로써 효력이 발생합니다. 회원은 본 약관에 대해 유효하고 취소 불가능한 동의를 했을 경우에 한하여 본 서비스를 이용할 수 있습니다.
                <br><br>
            </p>
            <h2>
                <br>
                약관 변경
            </h2>
            <p>
                <br>
                회원에게 불리하거나 중대한 약관 변경은 30일 이전에 미리 공지되며 변경된 약관은 서비스 내의 적절한 장소에 게시된 시점부터 최소 7일에서 30일 이후에 효력이 발생합니다. 이 경우 회원은 제작자에서 제공하는 서비스 이용 중단 및 탈퇴 페이지에서 의사를 표시하고 서비스 종료를 요청할 수 있습니다. 다만, 7일 이내 별도의 의사표현 없이 본 서비스를 계속 이용함으로써 변경 후의 약관에 대해 유효하고 취소 불가능한 동의를 한 것으로 간주됩니다. 따라서 본 서비스를 이용할 때는 수시로 서비스 내 최신 약관을 참조하시길 바랍니다.
                <br><br>
            </p>
            <h2>
                <br>
                프라이버시
            </h2>
            <p>
                <br>
                제작자는 회원의 프라이버시를 존중합니다. 제작자는 프라이버시를 보호하기 위한 조치로 개인의 정보를 수집하는 것을 적극적으로 제한하며 일부 수집되는 정보와 개인 정보를 개인정보취급방침에 따라 적절하게 취급합니다.
                <br><br>
            </p>
            <h2>
                <br>
                서비스 제공
            </h2>
            <p>
                <br>
                회원은 본 서비스를 이용하는데 있어 필요한 컴퓨터나 휴대전화 단말기, 통신기기, 운영체제, 통신 수단 및 전력 등을 고객의 비용과 책임하에 준비해야 합니다.
                <br><br>
                제작자는 서비스의 전부 또는 일부를 등록정보 유무, 기타 당사가 필요하다고 판단하는 조건을 만족시키는 고객에 한하여 제공할 수 있습니다.
                <br><br>
                제작자는 필요하다고 판단할 경우 최고의 서비스를 제공하기 위하여 최선의 노력을 다합니다. 다만, 장비의 유지, 보수를 위한 정기 또는 임시 점검 또는 다른 상당한 이유로 서비스의 제공이 일시 중단될 수 있으며, 새로운 서비스로의 교체, 기타 제작자가 적절하다고 판단하는 사유에 기하여 현재 제공되는 서비스를 완전히 중단할 수 있습니다.
                <br><br>
            </p>
            <h2>
                <br>
                금지사항
            </h2>
            <p>
                <br>
                회원은 본 서비스를 이용 중에 다음에 기재된 행위를 해서는 안 됩니다.
                <br><br>
                1. 제작자 및 제3자의 지적재산권을 침해하거나 제작자의 권리와 업무 또는 제3자의 권리와 활동을 방해하는 행위
                <br>
                2. 관련 법령에 의하여 전송 또는 게시가 금지되는 정보(컴퓨터 프로그램 등)의 게시 또는 전송하는 행위
                <br>
                3. 컴퓨터 소프트웨어, 하드웨어, 전기통신 장비의 정상적인 가동을 방해, 파괴할 목적으로 고안된 소프트웨어 바이러스, 기타 다른 컴퓨터 코드, 파일, 프로그램을 포함하고 있는 자료를 게시하거나 전송하는 행위
                <br>
                4. 제작자 또는 제3자를 사칭하는 행위 또는 의도적으로 허위정보를 유포하는 행위
                <br>
                5. 타인의 개인정보, 사생활을 침해하거나 다른 회원 또는 제3자를 비방하거나 중상 모략으로 명예를 손상시키는 행위
                <br>
                6. 성적 또는 음란물, 성매매를 요구하거나 유인하는 행위, 다른 회원을 비방하거나 명예훼손 또는 모욕하는 행위 등 공서양속에 위반되는 내용의 정보, 문장, 도형 등을 유포하는 행위
                <br>
                7. 테러, 폭력, 마약, 인신 매매 등 범죄행위와 관련이 있다고 판단되는 내용을 작성 및 유도하는 행위
                <br>
                8. 종교적, 정치적 분쟁을 야기하는 내용으로서, 이러한 분쟁으로 인하여 제작자의 업무가 방해되거나 방해되리라고 판단되는 행위
                <br>
                9. 동일한 내용을 중복하여 다수 게시하는 등 게시의 목적에 어긋나는 경우
                <br>
                10.	불필요하거나 승인되지 않은 광고, 판촉물을 게재하는 경우
                <br><br>
                회원이 작성한 ’콘텐츠’로 인한 법률상 이익 침해를 근거로, 다른 회원 또는 제3자가 회원 또는 제작자를 대상으로 하여 민형사상의 법적 조치(예:고소, 가처분신청, 손해배상청구소송)를 취하는 동시에 법적 조치와 관련된 게시물의 삭제를 요청해오는 경우, 제작자는 동 법적 조치의 결과(예: 검찰의 기소, 법원의 가처분결정, 손해배상판결)가 있을 때까지 관련 게시물에 대한 접근을 잠정적으로 제한할 수 있습니다
                <br><br>
            </p>
            <h2>
                <br>
                회원의 책임
            </h2>
            <p>
                <br>
                회원은 자신의 책임하에 본 서비스를 이용해야 하며, 본 서비스에서 이루어진 모든 행위 및 그 결과에 대해서 일체의 책임을 져야 합니다. 제작자는 회원이 본 약관에 위반되는 방법으로 본 서비스를 이용하고 있다고 판단하는 경우 해당 회원에 대하여 서비스 이용 중지, 차단 등 필요하고 적절한 조치를 취하겠습니다. 단 제작자는 이러한 위반행위를 방지하거나 시정할 의무를 부담하지 않습니다.
                <br><br>
                회원들 간의 행위에 대한 책임은 해당 회원에게 귀속되지만, 당사가 신고로 접수되고 신고된 회원의 행위가 추후 다른 회원에게 추가적인 피해를 줄 수 있다고 판단되는 경우에 제작자는 문제의 회원들에 대해 이용 제한, 탈퇴, 아이디 영구 삭제, 법적 책임 추궁 등의 후속 조치를 취할 수 있습니다.
                <br><br>
            </p>
            <h2>
                <br>
                제작자의 책임 제한
            </h2>
            <p>
                <br>
                제작자는 본 서비스에 사실상 또는 법률상의 하자(안전성, 신뢰성, 완전성, 유효성, 특정 목적과의 부합 여부, 보안 등에 관련된 결함, 오류와 버그, 권리 침해 등을 포함함)가 없음을 명시적으로도 암묵적으로도 보증하지 않습니다. 제작자는 회원에 대해 이러한 하자를 제거하고 본 서비스를 제공할 의무를 부담하지 않습니다.
                <br><br>
                회원이 서비스에 접속 또는 이용하는 과정에서 발생하는 개인적인 손해, 제3자가 불법적으로 본 서비스의 서버에 접속하거나 서버를 이용함으로써 발생하는 손해, 제 3자가 악성 프로그램을 전송 또는 유포함으로써 발생하는 손해, 전송된 데이타의 누락, 생략, 파괴 등으로 발생한 손해, 명예훼손 등 제작자의 고의나 과실 없이 고객 또는 제3자의 행위로 인하여 회원에게 발생하는 손해에 대해 책임을 부담하지 않습니다.
                <br><br>
                제작자는 안정된 서비스를 제공하기 위해서 노력할 것입니다. 하지만 서비스로 인하여 회원에게 발생한 모든 손해 (천재지변, 전쟁, 기간통신사업자의 서비스 중지, 제삼자가 제공하는 오픈 아이디의 인증 장애, 해결이 곤란한 기술적 결함 기타 불가항력으로 인하여 서비스를 제공할 수 없는 경우, 개인정보의 부정확한 기재, 컴퓨터 오류, 보안 문제로 인하여 발생하는 제반 문제, 현재 보안기술 수준으로 방어가 곤란한 네트워크 해킹, 회원 상호 간 또는 회원과 제삼자 간에 서비스를 매개로 발생한 분쟁 등 기타 서비스 이용으로 발생하는 모든 손해를 포함함)에 대해 일체의 책임을 지지 않습니다.
                <br><br>
            </p>
        </div>
    </div>
</section>
<!-- End contact-page Area -->

<!-- Start Footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Info</h4>
                <ul>
                    <li><a href="/policy/privacy">개인정보 처리방침</a></li>
                    <li><a href="/policy/usage">이용약관</a></li>
                    <li><a href="https://forms.gle/xauD98orCpP5U5Ux6" target="_blank">문의하기</a></li>
                </ul>
            </div>

        </div>
        <div class="footer-bottom row align-items-center">
            <p class="footer-text m-0 col-lg-6 col-md-12">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> 어바웃타임 All rights reserved
                <br>
                Contact : blindcafeapp@gmail.com
            </p>
            <div class="col-lg-6 col-md-6 social-link">
                <div class="download-button d-flex flex-row justify-content-end">
                    <div class="buttons gray flex-row d-flex">
                        <i class="fa fa-android" aria-hidden="true"></i>
                        <div class="desc">
                            <a href="https://play.google.com/store/apps/details?id=com.abouttime.blindcafe" target="_blank">
                                <p>
                                    <span>Available</span> <br>
                                    on Play Store
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="buttons gray flex-row d-flex">
                        <i class="fa fa-apple" aria-hidden="true"></i>
                        <div class="desc">
                            <a href="https://apps.apple.com/kr/app/%EB%B8%94%EB%9D%BC%EC%9D%B8%EB%93%9C-%EC%B9%B4%ED%8E%98/id1597964553" target="_blank">
                                <p>
                                    <span>Available</span> <br>
                                    on App Store
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<script src="/static/js/common/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="/static/js/common/tilt.jquery.min.js"></script>
<script src="/static/js/common/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="/static/js/common/easing.min.js"></script>
<script src="/static/js/common/hoverIntent.js"></script>
<script src="/static/js/common/superfish.min.js"></script>
<script src="/static/js/common/jquery.ajaxchimp.min.js"></script>
<script src="/static/js/common/jquery.magnific-popup.min.js"></script>
<script src="/static/js/common/owl.carousel.min.js"></script>
<script src="/static/js/common/owl-carousel-thumb.min.js"></script>
<script src="/static/js/common/hexagons.min.js"></script>
<script src="/static/js/common/jquery.nice-select.min.js"></script>
<script src="/static/js/common/waypoints.min.js"></script>
<script src="/static/js/common/mail-script.js"></script>
<script src="/static/js/common/main.js"></script>
</body>

</html>